# Run test when triggering the workflow on push and pull request, 
# but only for the master branch

name: test

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master


# Run test for any valid triggers
# - checkout code
# - create Python environment
# - run unit test
jobs:

  test:

    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov codecov
          python setup.py develop

      - name: Run unit test
        run: |
          pytest -v ./test/test.py --cov=./pdf2docx --cov-report=xml

      - name: Upload coverage reports to Codecov
        run: |
          codecov
        env: # Or as an environment variable
          super_secret: ${{ secrets.CODECOV_TOKEN }}